<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="No pierdas más tiempo al teléfono. Pide tu pizza fácil y rápido con Pizdely" />
		<title>Pizdely</title>

		<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<link rel="icon" href="images/favicon.png">

		<link href="css/owl.carousel.css" rel="stylesheet">
		<link href="css/owl.theme.css" rel="stylesheet">
		<link href="css/owl.transitions.css" rel="stylesheet">
		<link href="bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet">

		<link href="css/style.css" rel="stylesheet">




		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.min.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->

		<style>
			.form-control:focus {
				border-color: #EE233F !important;
			}

			.home .hero-txt .hero-title {
				font-family: 'Cabin';
				color: #fff;
				text-transform: uppercase;
				font-size: 32px;
				line-height: 60px;
				font-weight: 400;
				word-spacing: 0px;
				margin-bottom: 15px;
				margin-top: 10px;
				padding: 20px 10px;
				color: #FFE66D;
			}

			.home .hero-txt .hero-work {
				font-family: "Cabin";
				font-weight: 300;
				letter-spacing: -1px;
				color: white;
			}


		</style>

	</head>
	<body data-spy="scroll" data-target=".main-nav">

		<header class="st-navbar">
			<nav class="navbar navbar-default navbar-fixed-top clearfix" role="navigation">
				<div class="container"><!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sept-main-nav">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"><img src="images/white-Logo.png" alt="" class="img-responsive"></a>
					</div>
					
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse main-nav" id="sept-main-nav">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#service">¿Cómo funciona?</a></li>
							<li><a href="#faq">Preguntas frecuentes</a></li>
							<li><a href="#subscribe">¡Gánate una pizza gratis!</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div>
			</nav>
		</header>

		<section class="home" id="home" data-stellar-background-ratio="0.4">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="st-home-unit">
							<div class="hero-txt">
								<h3 class="hero-work"> No pierdas más tiempo al teléfono. Pide tu pizza fácil y rápido</h3>
								<span class="hero-title dynamic-phrase"></span>

								<br>

								<div style="padding-top: 40px;">
									<a href="#subscribe" class="btn btn-main btn-lg">¡Arma tu pizza ahora!</a>
								</div>
							</div>
					</div>
				</div>
			</div>
			<div class="mouse-icon"><div class="wheel"></div></div>
		</section>

		<section class="service" id="service">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title st-center">
							<p style="color: #EE233F">¿Cómo funciona?</p>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="st-feature">
									<div class="st-feature-icon"><img src="images/landing/pizza.svg"></div>
									<strong class="st-feature-title">Selecciona un sabor</strong>
									<p>Puedes elegir tu sabor de pizza favorito (Hawaiana, Pollo, Margarita, Champiñones, etc.) ofrecido por nuestras pizzerías aliadas</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="st-feature">
									<div class="st-feature-icon"><img src="images/landing/recipe.svg"></div>
									<strong class="st-feature-title">Adiciona o quita ingredientes</strong>
									<p>¿Extra de queso?</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="st-feature">
									<div class="st-feature-icon"><img src="images/landing/pizzeria.svg"></div>
									<strong class="st-feature-title">Haz tu pedido</strong>
									<p>Pro adiuvet, honesto foris liberiusque statuat theseo scribimus mererer percurri geometria.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="faq-sec" id="faq" style="background-color: #292F36;">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!-- <h2 class="tac">frequently asked questions</h2> -->
						<div class="section-title st-center">
							<p>Resuelve tus dudas</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="faq">
							<h3><i class="fa fa-question-circle"></i> ¿Qué es Pizdely?</h3>
							<p>Pizdely es la aplicación web que permite a los amantes de la pizza realizar sus pedidos en línea, eligiendo los ingredientes y adiciones a su gusto. </p>
						</div>
						<div class="faq">
							<h3><i class="fa fa-question-circle"></i> ¿Cómo puedo hacer un pedido con Pizdely?</h3>
							<p>Pertinerent non importari, populo faciendi civium vetuit. Gravitate numquam praesentium fabulas. Abest ponatur ineruditus restat consoletur causam, ordiamur temperantiam repellat desistemus conquirendae molestia aiunt discenda monet.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="faq">
							<h3><i class="fa fa-question-circle"></i> ¿El servicio a domicilio tiene algún costo?</h3>
							<p>Quarum difficilius aegritudo epularum municipem alias. Vidisse litteris, rationibus eadem, mandaremus maluisset, delectus terrore angusta deduceret numquam fidelissimae mens gravissimo propter, tradit, fastidium facta facerem qua quippiam vacuitate cupiditatum admirer navigandi.</p>
						</div>
						<div class="faq">
							<h3><i class="fa fa-question-circle"></i> ¿Porque debo autorizar ?</h3>
							<p>Habeo mala nocet perpetiuntur legendos dicemus levitatibus abducat futura, occultarum probant vitae evertunt laudantium docendi difficilem, offendit concederetur tuo hortensio deserere, molita gaudemus titillaret difficilius, parum timeret unum molestiam omnis vitae.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="faq">
							<h3><i class="fa fa-question-circle"></i> ¿El servicio a domicilio tiene algún costo?</h3>
							<p>Quarum difficilius aegritudo epularum municipem alias. Vidisse litteris, rationibus eadem, mandaremus maluisset, delectus terrore angusta deduceret numquam fidelissimae mens gravissimo propter, tradit, fastidium facta facerem qua quippiam vacuitate cupiditatum admirer navigandi.</p>
						</div>
						<div class="faq">
							<h3><i class="fa fa-question-circle"></i> ¿Porque debo autorizar ?</h3>
							<p>Habeo mala nocet perpetiuntur legendos dicemus levitatibus abducat futura, occultarum probant vitae evertunt laudantium docendi difficilem, offendit concederetur tuo hortensio deserere, molita gaudemus titillaret difficilius, parum timeret unum molestiam omnis vitae.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="subscribe" id="subscribe" style="background-color: #fcfcfc">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3 class="subscribe-title" style="color:#292f36">Déjanos tu Whatsapp y participa en el sorteo de una deliciosa pizza en la puerta de tu casa este 18 de Noviembre.</h3>
						<form  role="form" class="subscribe-form">
							<div class="input-group">
								<input type="text" class="form-control" id="whatsapp" placeholder="+57" style="font-size: 20px">
								<span class="input-group-btn">
									<button class="btn btn-main btn-lg" id="sendNumber" style="background: #EE233F; border-color:#EE233F;padding: 10.5px 20px;">Participar</button>
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>

		<footer class="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12" style="color: black;">
						&copy; Pizdely 2016 | <a href="#">Condiciones</a> | <a href="#">Privacidad</a> | <a href="#">Cookies</a>
					</div>
				</div>
			</div>
		</footer>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery.min.js"></script>
		<script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/jquery.stellar.js"></script>
		<script src="js/jquery.appear.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/jquery.countTo.js"></script>
		<script src="js/jquery.shuffle.modernizr.js"></script>
		<script src="js/jquery.shuffle.js"></script>
		<script src="js/owl.carousel.js"></script>
		<script src="js/jquery.ajaxchimp.min.js"></script>
		<script src="bower_components/typed.js/dist/typed.min.js"></script>
		<script src="js/script.js"></script>
		<script>
			$(".dynamic-phrase").typed({
				strings: ["Con queso extra","Sin cebolla", "Con adición de piña", "Sin vegetales"],
				typeSpeed: 45, // typing speed
				backDelay: 950, // pause before backspacing
				loop: true, // loop on or off (true or false)
				loopCount: false, // number of loops, false = infinite
			});
		</script>
	</body>
</html>