ion-header-bar {
  background: #292F36!important;

  .nav-bar-title {
    img {
      max-height: 30px;
      width: 117px;
      vertical-align: middle;
    }
  }
}

.button-balanced{
  background-color: #EE233F !important;
}

.toast_section {
  background-color: #EE233F !important;
}

.border-b {
  border-bottom: #000000 solid 1px !important;
}

.generate-sec(m-t, margin-top);
.generate-sec(@class, @property, @n:5, @multiplier:10px, @start: 0) when (@start =< @n) {
  .@{class}-@{start} {
      @{property}: (@start * @multiplier)!important;
  }
  .generate-sec(@class, @property, @n, @multiplier, (@start+1));
}

html *{
  font-family: cabin;
}

@font-face {
  font-family: "cabin";
  src : url("../fonts/Cabin-Regular.otf");
}

.button,input{
  border-radius: 40px;
}


.button-bar{
  .button{
    border-radius: 40px !important;
  }
}