ion-header-bar {
  .nav-bar-title {
    img {
      max-height: 30px;
      width: 117px;
      vertical-align: middle;
    }
  }
}

.toast_section {
  background-color: #33cd5f !important;
}

.border-b {
  border-bottom: #000000 solid 1px !important;
}

.generate-sec(m-t, margin-top);
.generate-sec(@class, @property, @n:5, @multiplier:10px, @start: 0) when (@start =< @n) {
  .@{class}-@{start} {
      @{property}: (@start * @multiplier)!important;
  }
  .generate-sec(@class, @property, @n, @multiplier, (@start+1));
}